<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
  <div class="flash <%= kind %>">
    <%= flash[kind] %>
  </div>
<% end %>

<form action="/logout" >
  <input type="submit" value="Logout" style="position: absolute; top: 8px; right: 16px" />
</form>

<center>
  </br>
  </br>
  <h1><%= current_user[:firstName] + ' ' + current_user[:lastName] %>'s SCRUM Board</h1>

  <h2>To Do Tasks: <%= rand(100) %></h2>
  <h2>Completed Tasks: <%= rand(100) %></h2>

  <h2>Profile Information</h2>

  <img src= <%= current_user[:imageUrl] %>, style="width:250px;height:300px;"/>

  <h3>Name: <%= current_user[:firstName] + ' ' + current_user[:lastName] %></h3>

  <h3>Email:  <%= current_user[:email] %> </h3>

  <form action="/edit" >
    <input type="submit" value="Update Profile" />
  </form>

  <form action="/delete_account" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account" />
  </form>
</center>
