<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
  <div class="flash <%= kind %>">
    <%= flash[kind] %>
  </div>
<% end %>

<center>
  <h1>Welcome to FusionAuth Guide for Sinatra Applications</h1>


  <h2>Welcome <%= current_user[:firstName] + ' ' + current_user[:lastName] %>!</h2>


  <h2>Profile Information</h2>

  <img src= <%= current_user[:imageUrl] %>, style="width:250px;height:300px;"/>

  <h3>Name: <%= current_user[:firstName] + ' ' + current_user[:lastName] %></h3>

  <h3>Email:  <%= current_user[:email] %> </h3>

  <a href='/edit'>Update Profile</a>

  <form action="/delete_account" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account" />
  </form>
</center>
